@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body-container{
  overflow: hidden;
}

.content{
  float: left;
  width: 78%;
  padding: 2%;
}

/* Side */
.side-menu{
  position: relative;
  float: left;
  max-width: 16%;
  width: 16%;
  margin: 2% 0 2% 2%;
}

.side-menu-content{
  position: fixed;
  max-width: inherit;
  width: calc(100% - 2%);
  top: 50%;
  transform: translate(0, -50%);
}

.side-button:hover{
  background-color: #e3e3e3;
  border-radius: 3px;
}

.side-button{
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
}

.active .side-button{
  background-color: white;
}
