body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.container-base{
  background-color: white;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 25px;
}

.container-base .header{
  text-align: center;
  padding: 15px;
}



.gray{
  color: rgb(118, 118, 118);
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

/* Buttons */

.inline-button{
  display: inline-block;
  padding: 15px;
  margin: 15px 15px 15px 15px;
  cursor: pointer;
  border-radius: 3px;
  line-height: 20px;
}

.inline-button:hover{
  background-color: #e3e3e3;
  border-radius: 3px;
}

.generic-button{
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  line-height: 20px;
  background-color: #e8e8e8;
  color: #555;
}

.generic-button:hover{
  background-color: #e3e3e3;
}

.positive-button{
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  line-height: 20px;
  background-color: #1abc9c;
  color: white;
}

.positive-button:hover{
  background-color: #16a085;
}

.negative-button:hover{
  background-color: #c0392b;
}

.negative-button{
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  line-height: 20px;
  background-color: #e74c3c;
  color: white;
}

.icon-button{
  display: inline-block;
  margin-right: 10px;
  line-height: 30px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

.icon-button:hover{
  background-color: whitesmoke;
}


/* Input */

.icon-io{
  font-size: 16pt;
}

.icon-fa{
  font-size: 13pt;
}

.input-group{
  margin: 10px 10px;
}

/* Table */
.generic-table{
  overflow: hidden;
}

.generic-row{
  overflow: hidden;
}

.col{
  float: left;
  width: 50%;
}

.col-3{
  float: left;
  width: 33.33%;
}

.generic-main-col{
  width: 85%;
  float: left;
  overflow: hidden;
}

.generic-button-col{
  width: 15%;
  float: left;
  text-align: right;
}
/* Table end*/

.form-lateral-header{
  margin-left: 10px;
}
