.machine-param-container{
}

.machine-param-container .col{
  float: left;
  width: calc(50% - 20px);

}

.parameter-row{
  position: relative;
}

.operation-row{
  position: relative;
  margin-top: 25px;
  overflow: hidden;
}

.add-operation-button{
  margin-top: 25px !important;
}

.operation-header{
  text-align: center;
  padding: 10px 10px 0 10px;
}

.parameter-row::after {
    content: "";
    clear: both;
    display: table;
}

.machine-name{
  line-height: 30px;
}

.parameter-table{
  overflow: hidden;
  padding-left: 20px;
}

.form-button{
  padding: 6px 0;
  margin: 10px;
  cursor: pointer;
  line-height: 10px;
  background-color: #eee;
  color: #555;
  border: 1px rgb(204, 204, 204) solid;
  border-radius: 4px;
  height: 34px;
  text-align: center;
}

.form-button:hover{
  background-color: #e3e3e3;
}

.delete-parameter-button{
  position: absolute;
  right: -5px;
  z-index: 999;
}

.current-machine-button-col{
  width: 5%;
  float: left;
  text-align: right;
}

.current-machine-main-col{
  width: 95%;
  float: left;
}

.current-machine-icon-button{
  text-align: center;
  margin: 10px 10px 10px 0;
  line-height: 30px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 3px;
  color: #555;
}

.current-machine-icon-button:hover{
  background-color: whitesmoke;
}

/* drop down */
